body {background-color: lemonchiffon
}
#wrapper {
    max-width: 1020px;
    margin: 0 auto;
}
header{
    display: flex;
}
header img {
    height: 200px;
    flex: 1;
    margin: 0 auto;

}
header div { 
    flex: 1;
}
h1 {
    color: rgb(243, 212, 38);
    font-family: 'Rampart One', serif;
    text-align: center;
    font-size: 60px;
    letter-spacing: 100px;
    margin-left: 100px;
}
h2 {font-family: 'Josefin Slab', serif;
    text-align: center;
    font-size: 12px;
}
article img { width:100%;

}
p {font-family: 'Josefin Slab', serif;
    text-align: center;
}
h3 {font-family: 'Monoton', serif;
    font-size: 60px;
    text-align: center;
}
main {
    display: flex;
}
article {
    background-color: rgb(243, 212, 38);
    display: flex;
}
h4 {font-family: 'Rampart One', serif;
    text-align: center;
    font-size: 80px;
    color: rgb(243, 212, 38);
}
