body{
	background-color: #DADED0;
	font-family:  'Montserrat', sans-serif;
	display:  grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	grid-gap:  20px;
	max-width: 1200px;
	margin:  2rem auto;
	column-width: 12em;
	column-count: 3;
	column-gap:  1em;
	column-rule: thin solid black;
}
.content-box {
	columns:  3 auto;
}
header{
	grid-column: 1/4;
}
main{
	grid-column: 2/3;
}
header img {
	float:  left;
	margin-right: 1rem;
	opacity: 0.4;
	position: relative;
	height: 200px;
	object-fit: none;
}
.CiaraHeadshot{
	float: left;
	margin-right: 1rem;
}
.picture a:link{
	color: #3E768C;
}
.picture a:visited{
	color: #195D46;
}
.picture a:hover{
	color: #0F4D64;
}
h1{
	color:  black;
	font-family:  'Martel', serif;
	font-size: 36px;
	text-align: right;
	padding: 3px;
	grid-column: 1/4;
	letter-spacing: 18px;
	position: absolute;
}
h2{
	font-family: 'Martel', serif;
	font-size: 18px;
}
p{
	color:  black;
	font-size: 16px;
}
.box{
	border: 1px solid black;
	padding: 3px;
	background-color: #3E768C;
	height: 328px;
}
.box a:link{
	color: white;
}
.box a:visited{
	color: #DADED0;
}
.box a:hover{
	color: darkgreen;
}
.fa-envelope{
	color: black;
}
.fa-location-dot{
	color: black;
}
footer{
	text-align: center;
	padding: 3px;
	background-color: #568C73;
	color: black;
	grid-column: 1/4;
	font-size: 10px;
	height: 50px;
	opacity: .4;
}
